.parallax {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 100px;
    z-index: 2;
    @include laptop {
      font-size: 50px;
    }
  }

  .mountains {
    background-image: url("/mountains.png");
    z-index: 20;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .planets {
    z-index: 10;
    background-image: url("/planets.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .stars {
    background-image: url("/stars.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}