.projects {
  position: relative;
  .progressWrapper {
    position: sticky;
    top: 0;
    height: 0px;
    z-index: 20;
    .progress {
      z-index: 2;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      color: orange;
      font-size: 22px;
      display: flex;
      flex-direction: column;
      justify-content: start;

      @include mobile {
        justify-content: end;
        padding-bottom: 60px;
        font-size: 18px;
      }

      .progressBar {
        margin: 0 20px;
        height: 3px;
        background-color: white;
      }
    }
  }

  .eachProject {
    height: 100vh;
    overflow: hidden;
    align-content: end;
    .container {
      width: 100%;
      height: calc(100% - 46px);
      display: flex;

      @include mobile {
        height: calc(100% - 38px);
        flex-direction: column-reverse;
      }

      .desc {
        width: 50%;
        height: 100%;
        align-content: center;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 30px;
        padding-left: 20px;
        // background-color: red;

        @include mobile {
          width: 100%;
          height: 60%;
          padding: 10px;
          text-align: center;
          justify-content: start;
        }

        .heading {
          .title {
            font-size: 30px;
            line-height: 1.2em;
          }
          .stack {
            font-size: 24px;
            color: rebeccapurple;
            filter: brightness(2);
          }
        }

        ul {
          list-style: none;
          padding-left: 20px;

          @include mobile {
            text-align: start;
          }
          li {
            position: relative;
            align-content: center;
            font-size: 1.1rem;
            line-height: 2em;

            .icon {
              fill: rebeccapurple;
              color: rebeccapurple;
              filter: brightness(2);
              position: absolute;
              top: 10px;
              left: -20px;
            }
          }
        }
        a {
          padding: 10px 20px;
          border: 2px solid white;
          border-radius: 10px;
          background-color: rebeccapurple;
          color: white;
          width: 300px;
          margin: 0 auto;
          text-align: center;
          // margin-right: 20px;
          cursor: pointer;
          font-weight: bold;
          font-size: 24px;
          transition: all 0.5s ease;
          &:hover {
            background-color: rgb(102, 51, 153);
            border: 2px solid transparent;
          }

          @include mobile {
            padding: 8px 12px;
            font-size: 16px;
          }
        }
      }
      .showcase {
        width: 50%;
        height: 100%;
        align-content: center;

        @include mobile {
          padding-top: 10px;
          width: 100%;
          height: 40%;
        }

        .container {
          position: relative;
          width: 100%;
          height: 100%;
          max-height: 400px;
          padding: 0 10px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          user-select: none;

          .screenWrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            position: relative;

            .laptop-screen {
              position: relative;
              max-width: 100%;
              width: auto;
              display: flex;
              justify-content: center;
              align-items: center;

              @include mobile {
                max-height: 200px;
              }
              .screenImage {
                position: relative;
                width: 100%;
                height: auto;

                .screen {
                  position: relative;
                  z-index: 2;
                  pointer-events: none;

                  img {
                    width: 100%;
                    height: auto;
                    display: block;
                    object-fit: contain;
                  }
                }

                .content {
                  position: absolute;
                  top: 5%;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 71%;
                  height: 80%;
                  overflow-y: scroll;
                  overscroll-behavior: contain;
                  z-index: 1;

                  &::-webkit-scrollbar {
                    display: none;
                  }

                  img {
                    width: 100%;
                    height: fit-content;
                    display: block;
                  }
                }
              }
            }
            .phone-screen {
              position: relative;
              max-width: 100%;
              height: 100%;
              width: auto;
              display: flex;
              justify-content: center;
              align-items: center;
              // max-height: 400px;

              .screenImage {
                position: relative;
                height: 100%;
                width: auto;
                // aspect-ratio: 9 / 16;
                overflow: hidden;
                .screen {
                  position: relative;
                  z-index: 2;
                  pointer-events: none;
                  width: 100%;
                  height: 100%;

                  img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: contain;
                  }
                }

                .content {
                  position: absolute;
                  top: 2.2%;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 90%;
                  height: 96%;
                  overflow-y: scroll;
                  overscroll-behavior: contain;
                  z-index: 1;

                  &::-webkit-scrollbar {
                    display: none;
                  }

                  img {
                    width: 100%;
                    height: fit-content;
                    // object-fit: contain;
                  }
                }
              }
            }

            .phone-screen {
              max-width: 300px;
              max-height: 100%;
              .content {
                top: 3.5%;
                height: 93%;
                width: 84%;
                cursor: ns-resize;
              }
            }

            .laptop-screen {
              max-width: 800px;

              .content {
                cursor: ns-resize;
                top: 10.5%;
                height: 77%;
                width: 71%;
              }
            }
            .phone-screen {
              .guide {
                position: absolute;
                left: -28%;
                top: 50%;
                transform: translateY(-50%);
                color: orange;
                text-align: center;
                display: flex;
                flex-direction: column;
                opacity: 70%;

                svg {
                  height: 36px;
                  align-self: center;
                }
                > :first-child {
                  rotate: 45deg;
                }
                > :last-child {
                  rotate: -45deg;
                }
                p {
                }
              }
            }

            .laptop-screen {
              // guide
              .guide {
                position: absolute;
                left: 0%;
                top: 50%;
                transform: translateY(-50%);
                color: orange;
                text-align: center;
                display: flex;
                flex-direction: column;
                opacity: 70%;
                svg {
                  height: 36px;
                  align-self: center;
                  justify-self: flex-end;
                }
                > :first-child {
                  rotate: 45deg;
                }
                > :last-child {
                  rotate: -45deg;
                }
                p {
                }
              }
            }
          }

          .toggler {
            all: unset;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 8px;
            transition: all 0.3s ease;

            .guide {
              position: absolute;
              top: -100%;
              text-align: center;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              color: orange;
              opacity: 0.7;
            }
          }

          .laptop-toggle-button {
            height: 80px;
            width: 100px;
            img {
              z-index: 8;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }

            &:hover .placeholder {
              background-color: gray;
              color: white;
            }

            .placeholder {
              transition: all 0.3s ease;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 63px;
              height: 40px;
              margin-top: 17px;
              background-color: white;
              z-index: 5;
              display: flex;
              justify-content: center;
              align-items: center;
              color: black;
            }
          }
          .phone-toggle-button {
            width: 50px;
            height: 80px;
            &:hover .placeholder {
              background-color: gray;
              color: white;
            }
            img {
              z-index: 8;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
            .placeholder {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 36px;
              height: 100%;
              background-color: white;
              border-radius: 6px;
              z-index: 5;
              display: flex;
              justify-content: center;
              align-items: center;
              color: black;
            }
          }
        }
      }
    }
  }
}
