.hero {
  height: calc(100vh - 65px);
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;

  @include mobile {
    padding: 10px;
  }

  .wrapper {
    position: relative;
    max-width: 1920px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;

    @include mobile {
      align-items: start;
    }
    .textContainer {
      padding: 40px;
      position: relative;
      z-index: 20;
      width: 70%;
      height: 100%;
      max-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
      user-select: none;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
        padding: 50px 0px 0px 0px;
      }
      .name {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        @include mobile {
          width: 100%;
          align-items: center;
          text-align: center;
          gap: 10px;
        }
        h2 {
          font-size: 70px;
          color: rebeccapurple;
          filter: brightness(2);
          letter-spacing: 10px;
          display: flex;
          @include mobile {
            font-size: 60px;
          }
        }
        h1 {
          width: 70%;
          font-size: 50px;
          @include mobile {
            font-size: 36px;
            width: 100%;
          }
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        justify-content: start;
        @include mobile {
        }

        a {
          padding: 10px 20px;
          border: 2px solid white;
          border-radius: 10px;
          background-color: $base-color;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: bold;
          font-size: 24px;
          transition: all 0.5s ease;
          &:hover {
            background-color: rgb(102, 51, 153);
            border: 2px solid transparent;
          }
          
          @include mobile {
            padding: 8px 12px;
            font-size:16px;
          }
        }
      }
      img {
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 40;

        @include mobile {
          position: absolute;
          bottom: -100px;
          right: 0;
        }
      }
    }
  }

  .imageContainer {
    z-index: 2;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    @include mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: -10px;
    }

    img {
      top: 0;
      right: 0;
      height: 100%;
      width: fit-content;
      object-fit: cover;
      pointer-events: none;
    }

    .main-image {
      height: 100%;
    }
    .sec-image {
      right: 300px;
      height: 40%;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 16vh;
    bottom: 4vh;
    white-space: nowrap;
    color: #ffffff09;
    width: 310vw;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    gap: 8vh;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        display: flex;
        align-items: center;
      }
      svg {
        width: 16vh;
        height: 16vh;
        fill: #ffffff09 !important;
        
        
        @include mobile {
          width: 6vh;
          height: 6vh;
        }
      }
    }
    @include mobile {
      width: 560vw;
      font-size: 6vh;
      bottom: 36vh;
    }
  }
}
