//////////////////////
// GLOBAL VARIABLES //
//////////////////////

// Breakpoints
$breakpoint-xs: 475px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1370px;

// Responsive functions
@mixin mobile {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

// Animations
@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

// Colors

$base-color: #0c0c1d;

section h1,
article h1,
nav h1,
aside h1 {
  font-size: 2rem; /* Or whatever size you want */
}