.navbar {
  height: 65px;
  display: flex;
  align-items: center;
  z-index: 99;
  .wrapper {
    max-width: 1366px;
    width: 100%;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      justify-content: flex-end;
    }
    @include laptop {
      padding-left: 80px;
    }
    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    .social{
      display: flex;
      gap: 20px;
      z-index: 4;

      img{
        width: 18px;
        height: 18px;
      }
    }
  }
}