.navbar {
  height: 65px;
  display: flex;
  align-items: center;
  z-index: 99;
  .wrapper {
    max-width: 1366px;
    width: 100%;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: inherit;

    @include mobile {
      justify-content: flex-end;
    }
    @include laptop {
      padding-left: 80px;
    }
    span {
      background-color: $base-color;
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    .buttonsWrapper {
      background-color: $base-color;
      display: flex;
      align-items: center;
      gap: 30px;
      height: 100%;
      .buttons {
        display: flex;

        span {
          background-color: transparent;
          @include mobile {
            display: block;
          }
        }
        .cv-download {
          background-color: rebeccapurple;
          color: white;
          display: inline-flex;
          align-items: center;
          gap: 8px;
          padding: 10px 16px;
          text-decoration: none;
          font-weight: 500;
          border-radius: 8px;
          transition: background-color 0.3s ease;
          
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }

      .social {
        display: flex;
        gap: 20px;
        z-index: 4;

        a {
          display: flex;
          border-radius: 6px;
          overflow: hidden;
          svg {
            width: 28px;
            height: 28px;
            background-color: white;
            border-radius: 4px;
          }

          img {
            width: 28px;
            height: 28px;
          }

          &:hover {
            scale: 1.1;
            rotate: 6deg;
            box-shadow: 0px 0px 8px white;
          }
        }
      }
    }
  }
}
