* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: $base-color;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

section[id="Projects"] {
  height: fit-content;
}