* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

section h1,
article h1,
nav h1,
aside h1 {
  font-size: 2rem;
}

#root {
  position: relative;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
}

body {
  background-color: $base-color;
  color: lightgray;
  position: relative;
}

main {
  position: relative;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

section[id="Projects"] {
  width: 100%;
  height: fit-content;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 6px;
  border: 3px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}
